:root {
  --dropdown-item-hover-bg: hsl(360, 0%, 93.33%);
  --dropdown-item-selected-bg: hsl(360, 0%, 93.33%);
  --dropdown-item-color: hsl(0, 0%, 50%);
  --dropdown-item-selected-color: hsl(0, 0%, 0%);
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--dropdown-item-hover-bg);
  }
}

.dropdown-item-selected {
  background-color: var(--dropdown-item-selected-bg);
}

.dropdown-item .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}

.dropdown-item .name,
.dropdown-item .email {
  color: var(--dropdown-item-color);
  margin-right: 4px;
}

.dropdown-item .name {
  font-weight: 500;
}

.name .highlight,
.email .highlight {
  color: var(--dropdown-item-selected-color);
}
